@import "tailwindcss";

@theme {
  --breakpoint-tablet: 800px;
  --breakpoint-mobile: 500px;
}

:root {
  font-family: "Raleway", sans-serif, system-ui, Avenir, Helvetica, Arial,
    sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: "Raleway", sans-serif;
  width: max-content;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.spin {
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg) translateY(-2px);
  }
}

#mypic {
  width: 100%;
  height: auto;
  max-width: 600px;
  margin: 0 auto;
  display: block;
  animation: updown 4s ease-in-out infinite;
}

@keyframes updown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}
